@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family), 'Times New Roman', Times, serif;
}

:root{
    --gradient-light-slate-blue: hsl(252, 100%, 67%); /*(background)*/
    --gradient-light-royal-blue: hsl(241, 81%, 54%); /*(background)*/
    --gradient-violet-blue: hsla(256, 72%, 46%, 1); /*(circle)*/
    --gradient-persian-blue: hsla(241, 72%, 46%, 0); /*(circle)*/
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-font-family : 'Hanken Grotesk';
}
.result-card{
    height: 100vh;
    background-color: var(--neutral-white);
    flex-direction: column;
}
.upper-part{
    width: 100%;
    padding: 1.5rem 0;
    color: var(--neutral-white);
    background: linear-gradient(var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-heading{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    padding: .5rem 0;
}
.circle{
    width: 150px;
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(234, 85%, 45%, 0.276));
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
}
.grade{
    display: block;
}
.result-comment{
    width: 70%;
    text-align: center;
    margin-top: 20px;
}
.result-comment h2{
    margin-bottom: 10px;
}

.lower-part{
    width: 85%;
    max-width: 1024px;
    margin-inline: auto;
}
.result-summary h2{
    margin: 1.5rem 0;
}
.reaction {
    color: var(--primary-light-red);
    background-color: hsla(0, 100%, 67%, 0.05);
}
.memory {
    color: var(--primary-orangey-yellow);
    background-color: hsl(39, 100%, 56%, 0.05);
}
.verbal {
    color: var(--primary-green-teal);
    background-color: hsl(166, 100%, 37%, 0.05);
}
.visual {
    color: var(--gradient-violet-blue);
    background-color: hsl(252, 100%, 67%, 0.05);
}
.button{
    padding-bottom: 20px;
}
.button button{
    width: 100%;
    padding: 15px 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    color: var(--neutral-white);
    background-color: var(--neutral-dark-gray-blue);
}
.button button:hover {
    background: linear-gradient(hsla(252, 100%, 67%, 0.598),hsl(241, 81%, 54%));
}
.button button:active {
    background: linear-gradient(var(--gradient-light-slate-blue), var(--gradient-light-royal-blue));
}


/* reusables */
.flex{
    display: flex;
}
.lavendar{
    color: var(--neutral-light-lavender);
}
.white{
    color: var(--neutral-white);
}
.bg-size{
    font-size: 3rem;
}
.sm-size{
    font-size: 1.2rem;
}
.sum-properties {
    padding: 15px 17px;
    margin: 1.2rem 0;
    font-weight: 600;
    justify-content: space-between;
    border-radius: 10px;
}
.light-font {
    font-weight: 200;
    color: var(--neutral-dark-gray-blue);
}
.bolder {
    font-weight: 600;
}
.gap {
    gap: 10px;
}

/* mid-size */
@media screen and (min-width:800px) {
    .container{
        display: flex;
    }
    .result-card{
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        border-radius: 40px;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.626);
        flex-direction: row;
        /* margin-inline: auto; */
    }
    .upper-part{
        justify-content: start;
        border-radius: 40px;
    }
    .result-heading{
        margin: 2rem 0;
    }
    .circle{
        padding: 1.5rem 0;
    }
    .result-comment h2{
        margin-bottom: 15px;
        font-size: 1.8rem;
    }

    .lower-part{
        width: 85%;
        padding: 0 1.4rem;
    }
    .result-summary h2{
        margin: 1rem 0;
    }
    .break-down{
        padding-bottom: 0;
    }
}
/* desktop size */
@media screen and (min-width:800px) {
    .result-card{
        width: 60%;
    }
}